# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Static files collected during deployment
staticfiles/

# Media files (optional)
media/